**/*.so
**/*.*.o
*.pyc
*.conf_check_*
.waf-1.7.11-*/
.lock-waf_linux2_build
simulation/build/*
simulation/**/ns3.18-*
simulation/mix/*.txt
simulation/mix/*.tr
simulation/scratch/**
simulation/mix/mix.tr*
